.app {
  text-align: center;
}

.control-panel {
  display: block;
  margin-top: 50px;
}

.button-start {
  width: 200px;
  height: 50px;
}

.button-direction {
  width: 50px;
  height: 50px;
}

.playing-field {
  display: inline-block;
  background: #bbada0;
  margin-top: 50px;
  padding: 15px;
  border-radius: 15px;
  width: 500px;
  height: 500px;
}

.row {
  display: inline-block;
}

.cell {
  display: inline-block;
  background: rgba(238, 228, 218, 0.35);
  border-radius: 5px;
  margin-right: 19px;
  margin-bottom: 19px;
  width: 106px;
  height: 106px;
  text-align: center;
}

.cell-2 {
  background: #776e65;
}

.cell-4 {
  background: #796753;
}

.cell-8 {
  background: #5d4d3d;
}

.cell-16 {
  background: #573d23;
}

.cell-32 {
  background: #643e19;
}

.cell-64 {
  background: #9a6734;
}

.cell-128 {
  background: #b97530;
}

.cell-256 {
  background: #d77f27;
}

.cell-512 {
  background: #f67f0e;
}

.cell-1024 {
  background: #ff8000;
}

.cell-2048 {
  background: #ff1b00;
}
